<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unown.finalunown">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".UserSearchActivity"
            android:label="@string/title_activity_user_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity
            android:name=".SellerSearch"
            android:label="@string/title_activity_seller_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ProfileSellingActivity" />
        <activity android:name=".CartActivity" />
        <activity android:name=".PantryActivity"></activity>
    </application>

</manifest>